.nav {
	list-style:none;
}

body {
	background-color: #000435;
}

.container {
	background-color: #41424C;
	color: whitesmoke;
	padding: 20px;
	margin: 30px;
	margin-left: 50px;
	opacity: 85%;
}

h1 {
	text-align: center;
}

